{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- HTML - Hilfe - https://www.w3schools.com/html/default.asp -->
<!-- Bootstrap - Hilfe - https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<div class="card body-primary">
    <div class="container-fluid my-2 mx-5 outline-secondary">
        <div class="metric-card">
            <h3 class="font-semibold text-dark text-center">Last Message</h3>
            <pre id="messageContent"
                class="mt-2 text-sm overflow-x-auto text-center text-dark">Waiting for data...</pre>
        </div>
        <div class="metric-card">
            <h3 class="font-semibold text-dark text-center">Message Count</h3>
            <p id="messageCount" class="mt-2 text-center text-dark">0</p>
        </div>
        <div class="metric-card">
            <h3 class="font-semibold text-center text-dark">Connection Status</h3>
            <p id="connectionStatus" class="mt-2 text-dark text-center">Connecting...</p>
        </div>
        <div class="metric-card">
            <h3 class="font-semibold text-dark text-center">Client Info</h3>
            <pre id="messageClient"
                class="mt-2 text-sm overflow-x-auto text-center text-dark">Waiting for client_data...</pre>
        </div>
    </div>
    <div class="card bg-secondary my-4 mx-4">
        <h2 class="card-header">Message History</h2>
        <div id="messageHistory" class="space-y-2">
            <!-- Messages will be inserted here -->
        </div>
    </div>
    <div class="card mx-5 my-5 bg-secondary">
        <div class="card-header">
            <h3 class="text-center">Irgendein gebäude</h3>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th class="text-secondary">Irgendwie</th>
                            <th class="text-secondary">Irgendwo</th>
                            <th class="text-secondary">Iregndwann</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-secondary" id="etwas1">etwas 1</th>
                            <td class="text-secondary" id="test1">test1</td>
                            <td class="text-secondary" id="test2">test2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<script src="{{ url_for('static', filename='js/dashboard/dashboard.js') }}"></script>
{% endblock %}