{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="card">
    <h1 class="text-3xl font-bold mb-6">System Logs</h1>
    
    <div class="mb-4 flex space-x-4">
        <button class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">All Levels</button>
        <button class="px-4 py-2 bg-red-200 rounded hover:bg-red-300">Error</button>
        <button class="px-4 py-2 bg-yellow-200 rounded hover:bg-yellow-300">Warning</button>
        <button class="px-4 py-2 bg-blue-200 rounded hover:bg-blue-300">Info</button>
    </div>

    <div class="bg-gray-50 rounded-lg p-4 font-mono text-sm">
        {% for log in logs %}
        <div class="py-1 {% if log.level == 'error' %}text-red-600
                          {% elif log.level == 'warning' %}text-yellow-600
                          {% else %}text-gray-600{% endif %}">
            [{{ log.timestamp }}] [{{ log.level }}] {{ log.message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}