{% extends "base.html" %}

{% block title %}Mall{% endblock %}

{% block content %}
<div class="card body-primary">
    <h2 id="connectionStatus">Unknown</h2>

    <h1 class="text-3xl font-bold mb-4">Herzlich Wilkommen bei unserem Smart-City Workshop!<i
            class="bi bi-emoji-laughing-fill"></i></h1>
    <h2>Übersicht</h2>
    <div class="my-4"></div>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 class="text-center">Wetterstation</h3>

                <pre id="barometer">barometer</pre>
                <pre id="prognose">prognose</pre>


            </div>
            <div class=" col-sm">
                <h3 class="text-center">Flughafen</h3>
                <div class="progress">
                    <div id="planeheight" class="progress-bar" role="progressbar" aria-valuenow="100"
                        aria-valuemax="200" style="width: 50%" aria-valuemin="0">
                    </div>
                </div>
                <div id="fText"></div>
            </div>
            <div class="col-sm">
                <div>
                    <canvas id="EnergyChart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2 id="alert" class="text-danger"></h2>
            </div>
            <div class="col-sm">
                <h1 id="date" class="text-center">d</h1>
                <b>
                    <h1 id="time" class="text-center">hh:mm:ss</h1>
                </b>
            </div>
            <div class="col-sm" id="shop">
                <h2 class="text-success">Einkaufszentrum hat geöffnet</h2>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                Col31
            </div>
            <div class="col-sm">
                Col32
            </div>
            <div class="col-sm">
                Col33
            </div>
        </div>
        <pre id="openDisplay" class="mt-2 text-sm overflow-x-auto text-center text-dark">Keine Öffnungszeiten geladen</pre> -->


    </div>
</div>

<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/mall/mall.js') }}"></script>
{% endblock %}