<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - MQTT Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" textcolor="grey" href="{{ url_for('home') }}">MQTT Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsMqtt">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link {% if request.url_rule.endpoint == 'home' %}active{% endif %}" aria-current="page" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.url_rule.endpoint == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link {% if request.url_rule.endpoint == 'logs' %}active{% endif %}" href="{{ url_for('logs') }}">MQTT Logs</a>
              </li> -->
            </ul>
            <!-- <form>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form> -->
          </div>
        </div>
      </nav>
    <main class="container p-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark text-white p-4 mt-8">
        <div class="container mx-auto text-center">
            © 2024 MQTT Dashboard
        </div>
    </footer>
</body>
</html>