{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="card bg-secondary">
    <h1 class="text-3xl font-bold mb-4">Herzlich Wilkommen bei unserem Smart-City Workshop!<i class="bi bi-emoji-laughing-fill"></i></h1>
    <img src="../static/img/smart_city.png">
</div>
{% endblock %}